/* 


.RSI__navbar-links_logo img {
    width: 62.56px;
    height: 16.02px;
}
} */

/*top right bottom left */
.RSI__navbar-links_logo h1 {
line-height: 20px;
}
.RSI__navbar_control {
    background-color: #FFF;
    height: 5rem;
    /* position: -webkit-sticky;
   position: sticky; 
   top: 0; */
}

.RSI__navbar_control {
    background-color: rgba(245, 238, 238, 0.767);
    /* box-shadow: 0 0.125rem 0.1875rem -0.125rem rgb(0 0 0 / 20%); */
}

.RSI__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 96px;
    color: #009834;

}

.RSI__navbar-links {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-self: center;
    text-decoration: none;
    color: unset;
}

.RSI__navbar-links :hover {
    color: #009834;
}

.RSI__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.RSI__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.RSI__navbar-sign #Sign{
    color: #009834;
    font-weight: 900;
    text-align: center;
}

.RSI__navbar-links_container p,
.RSI__navbar-sign p,
.RSI__navbar-menu_container p {
    color: rgb(0, 0, 0);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem 2rem;
    cursor: pointer;

}

.RSI__navbar-sign button,
.RSI__navbar-menu_container button {
    /* background: #17dd31ed; */
    border: none;
    outline: none;
    font-weight: 500;
    border-radius: 7px;
    margin: 0 1rem 1rem ;
    cursor: pointer;
    font-family: var(--font-family);

}

.RSI__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
    margin-bottom: 2rem;
}

.RSI__navbar-menu svg {
    cursor: pointer;
}

.RSI__navbar-menu_container p {
    margin: 1rem 0;
}

.RSI__navbar-menu_container-links-sign {
    display: none;
}

.RSI__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: radial-gradient(circle at 11% 42%, rgb(237, 240, 243) 13%, rgb(255, 255, 255) 59%);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.76);
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 2rem;
    color: #000;
}
.dropdown h3{
    color: rgb(2, 0, 0);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 25px;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 2rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content-learn{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-learn a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 160px;
}

.dropdown-content-learn a:hover {
    background-color: rgb(255, 255, 255);
}
.dropdown:hover .dropdown-content-learn {
    display: block;
}
.dropdown-content a {
    color: black;
    padding: 0 16px;
    margin-top: 1px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


@media screen and (max-width: 850px) {
    .RSI__navbar-links_container {
        display: none;
    }

    .RSI__navbar-menu {
        display: flex;
        /* background-color: rgb(246, 234, 234);
         */
         color: #000;
    }
    .RSI__navbar-menu g{
        color: #000;
    }
    .RSI__navbar {
        padding: 2rem;
    }

    .RSI__navbar-sign {
        display: none;
    }

    .RSI__navbar-menu_container {
        top: 20px;

    }

    .RSI__navbar-menu_container-links-sign {
        display: block;
    }


}

@media screen and (max-width: 800px) {
    .RSI__navbar {
        padding: 2rem 4rem;

    }
    .RSI__navbar {
        padding: 2rem;
    }

    .RSI__navbar-sign {
        display: none;
    }

    .RSI__navbar-menu_container {
        top: 20px;
    }

    .RSI__navbar-menu_container-links-sign {
        display: block;
    }

}

@media screen and (max-width: 550px) {
    .RSI__navbar {
        padding: 2rem;
    }

    .RSI__navbar-sign {
        display: none;
    }

    .RSI__navbar-menu_container {
        top: 20px;
    }

    .RSI__navbar-menu_container-links-sign {
        display: block;
    }
}