.RSI__title-invest{
    color: rgb(0, 152, 52);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}
.RSI__card:hover{
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 1350px) {
    .RSI_cardText{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .RSI__title-invest{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
}
@media screen and (max-width: 760px) {
    .RSI_cardText{
       display: none;
    }
    .RSI__title-invest{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
}




/* .RSI_invertco-container {
    display: flex;
    flex-direction: row;
    padding: 0 12rem;
} */
/* .RSI__card{
    color:aquamarine;
    background-size: cover;
    padding: 10rem 0 0 ;
    max-width: 35ch;
    overflow: hidden;
    transition: transform 500ms ease;
}
.RSI__card:hover {
    transform:scale(1.05);
}
.RSI__card-content{
    --padding: 1,5em;
    padding: var(--padding);
    background:linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
        );
        transform: translateY(70%);
        transition: transform 500ms ease;
}
.RSI_card-title{
    position: relative;
    width: max-content;
}
.RSI__card:hover .RSI_card-title::after{
    transform: scale(1);
}
.RSI_card-title ::after{
    content: "";
    position: absolute;
    height: 3px;
    width: calc(100% + var(--padding));
    left: calc(var(--padding) * -1);
    top:0;
    background-color: turquoise ;
    transform: scale(0);
    transform-origin: left;
    transition: transform 500ms ease;
}


.RSI__card:hover .RSI__card-content{
    transform: translateY(0);
}
.RSI_button_more{
    cursor:pointer; 
    display: inline;
    text-decoration: none;
    color: chartreuse;
    background-color: rgb(131, 153, 109);
    padding: 0.5rem 1.25rem;
}
.RSI_button_more:hover, .RSI_button_more:focus{
    background-color: rgb(255, 160, 126);
} */
