.RSI__cta {
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: row;
    padding: 2rem;
    background:radial-gradient(circle at 3% 25%, rgb(226, 233, 224) 0%, #f6f6f6 25%);
    margin-bottom: 2rem;    
}

.RSI__cta-content {
    display: flex;
    flex-direction: column;

    text-align: center;
    color: #fff;
}

.RSI__cta-content p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
}

.RSI__cta-content h3 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 45px;
    font-weight: 800;
    text-align: center;
    color: #000;
}
.RSI__header-content__input-CTA {
    width: 100%;
    margin: 2rem 0 1rem;
    flex-direction: row;
    text-align: center;
    
}

.RSI__header-content__input-CTA input {
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: rgb(240, 243, 240);
    border: 2px solid rgb(203, 236, 199);
    padding: 0 1rem;
    text-align: center;
    outline: none;
    color: #fff;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.RSI__header-content__input-CTA button {
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #4db8d3;
    border: 2px solid #f8f5f5;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.RSI__cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2rem;
}

.RSI__cta-btn button {
    background: #000;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

@media screen and (max-width: 650px) {
    .RSI__cta {
        flex-direction: column;
    }

    .RSI__cta-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .RSI__cta {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .RSI__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
        text-align: center;

    }

    .RSI__cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}
