.main-content{
    padding: 4rem;
}
.main-content-footer-section{
    background-color: #f0f0f0;
    padding: 5rem;
}
.main-content-footer-section-realstate{
    background-color: #FFF;
    padding: 5rem;
}
.c-largeTitle {
    font-size: 70px;
    line-height: 1;
    font-weight: 900;
    letter-spacing: -.04em;
    color: #000;
}
#i0c1 {
    max-width: 390px;
}