.RSI_invertco-container_title {
    width: 100%;
    height: 86%;

    display: flex;
    flex-direction: column;
    background: solid #e9e9e9;

    z-index: 10
}

.RSI_invertco-container_title-image {
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.RSI_invertco-container_title-image img {
    width: 100%;
    height: 120%;
    line-height: 35px;

}

.RSI_invertco-container_title-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 100%;
    
}

.RSI_invertco-container_title-content p {
    font-family: var(--font-family);
    font-size: 11.65px;
    font-weight: 700;
    line-height: 35px;

    color: rgb(7, 5, 5);
}

.RSI_invertco-container_title-content h3 {
    font-family: var(--font-family);
    font-size: 25.11px;
    font-weight: 800;
    line-height: 30.30px;
    
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.RSI_invertco-container_title-content p:last-child {
    cursor: pointer;
}
/*
*/
.RSI__card .RSI_logo_invertco{
    position: relative;
    width: 60px;
    height: 60px;
    min-width: 60px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border: none;

}
.RSI__card{
    max-height: 35ch;
    overflow: hidden;
    transition: transform 500ms ease;
}
.RSI__card:hover {
    transform:scale(1.05);
}
.RSI__card-content{
    --padding: 1,5em;
    padding: var(--padding);
    background:linear-gradient(
        hsl(0 0% 0% / 0),
        rgba(245, 242, 242, 0.3) 20%,
        rgb(251, 251, 251)
        );
        transform: translateY(90%);
        transition: transform 500ms ease;
}
.RSI_card-title{
    position: relative;
    width: max-content;
}
.RSI__card:hover .RSI_card-title::after{
    transform: scale(1);
}
.RSI_card-title ::after{
    content: "";
    position: absolute;
    height: 3px;
    width: calc(100% + var(--padding));
    left: calc(var(--padding) * -1);
    top:0;
    background-color: turquoise ;
    transform: scale(0);
    transform-origin: left;
    transition: transform 500ms ease;
}

.RSI__card:hover .RSI__card-content{
    transform: translateY(0);
}
.RSI_button_more{
    cursor:pointer; 
    display: inline;
    text-decoration: none;
    color: chartreuse;
    background-color: rgb(131, 153, 109);
    padding: 0.5rem 1.25rem;
}
.RSI_button_more:hover, .RSI_button_more:focus{
    background-color: rgb(255, 160, 126);
}

















@media screen and (max-width: 1050px) {
    .RSI_invertco-container_title-image img {
        width: 100%;
        height: 100%;
        display: inline-block;

        /* line-height: 35px; */
    }
}
@media screen and (max-width: 900px) {
    .RSI_invertco-container_title-image img {
        width: 100%;
        height: 100%;
        line-height: 35px;
    }
}
@media screen and (max-width: 550px) {
    .RSI_invertco-container_title-content h3 {
        font-size: 18px;
        line-height: 25p;
    }
}