.RSI__whatRSI {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background:radial-gradient(circle at 3% 25%, rgb(204, 216, 199) 0%, rgb(234, 236, 233) 25%);


    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.RSI__whatRSI-feature {
    display: flex;
    color: #FFF;
}

.RSI__whatRSI-feature .RSI__features-container__feature {
    margin: 0;
}

.RSI__whatRSI-feature .RSI__features-container_feature-text {
    max-width: 700px;
}

.RSI__whatRSI-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 4rem 0 2rem;
}

.RSI__whatRSI-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
}

.RSI__whatRSI-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}

.RSI__whatRSI-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
}

.RSI__whatRSI-container .RSI__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

.RSI__whatRSI-container .RSI__features-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .RSI__whatRSI-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .RSI__whatRSI-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .RSI__whatRSI-feature .RSI__features-container__feature {
        flex-direction: column;
    }

    .RSI__whatRSI-feature .RSI__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .RSI__whatRSI-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    .RSI__whatRSI-container .RSI__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}